.logoheader
  = link_to root_path do
    %img.logoheader__logo{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/logo.png"}
  .signup_progress
    .signup_progress__dotsborder
      %hr{width: "200", color: "silver"}
    .signup_progress__dots_signup
      ●
      .signup_progress__dots_signup--title
        会員情報
    .signup_progress__dots2_signup
      ●
      .signup_progress__dots2_signup--title
        住所情報
    .signup_progress__dots3_signup
      ●
      .signup_progress__dots3_signup--title
        お支払方法
.ss
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .Sform
      .memberinfo
        .memberinfo__title
          会員情報の入力
        .memberinfo__nickname
          .memberinfo__nickname__titleblock
            .memberinfo__nickname__titleblock__title
              ニックネーム
            .memberinfo__nickname__titleblock__require
              必須
          .memberinfo__nickname__inputblock
            = f.text_field :nickname, class: "inputarea", placeholder: "ここに記入"

        .memberinfo__email
          .memberinfo__email__titleblock
            .memberinfo__email__titleblock__title
              メールアドレス
            .memberinfo__email__titleblock__require
              必須
          .memberinfo__email__inputblock
            = f.email_field :email, class: "inputarea", placeholder: "ここに記入"

        .memberinfo__password
          .memberinfo__password__titleblock
            .memberinfo__password__titleblock__title
              パスワード
            .memberinfo__password__titleblock__require
              必須
          .memberinfo__password__inputblock
            = f.password_field :password, class: "inputarea", placeholder: "ここに記入"
        .memberinfo__repassword
          .memberinfo__repassword__titleblock
            .memberinfo__repassword__titleblock__title
              パスワード（確認）
            .memberinfo__repassword__titleblock__require
              必須
          .memberinfo__repassword__inputblock
            = f.password_field :password_confirmation, class: "inputarea", placeholder: "ここに記入"
        .memberinfo__name
          .memberinfo__name__titleblock
            .memberinfo__name__titleblock__title
              お名前
            .memberinfo__name__titleblock__require
              必須
          .memberinfo__name__inputblock
            .firstname
              = f.text_field :first_name, class: "inputarea", placeholder: "例）範馬"
            .lastname
              = f.text_field :last_name, class: "inputarea", placeholder: "例）刃牙"

        .memberinfo__namek
          .memberinfo__namek__titleblock
            .memberinfo__namek__titleblock__title
              お名前(カナ)
            .memberinfo__namek__titleblock__require
              必須
          .memberinfo__namek__inputblock
            .firstname
              = f.text_field :first_name_kana, class: "inputarea", placeholder: "例）範馬"
            .lastname
              = f.text_field :last_name_kana, class: "inputarea", placeholder: "例）範馬"

        .memberinfo__birthday
          .memberinfo__birthday__titleblock
            .memberinfo__birthday__titleblock__title
              お誕生日
            .memberinfo__birthday__titleblock__require
              必須
          .memberinfo__birthday__inputblock
            .year
              .selectwrap
                = f.select :birthyear, ["2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029", "2030", "2031", "2032"], prompt: "選択"
            .year_title
              年
            .month
              .selectwrap
                = f.select :birthmonth, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"], prompt: "選択"

            .month_title
              月
            .day
              .selectwrap
                = f.select :birthday, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25","26", "27", "28", "29", "30", "31"], prompt: "選択", class: "select"
            .day_title
              日

      .registerbtn
        = f.submit "次へ", class: "register_btn"

        -# = link_to "/adress" do
        -#   %button.register_btn{name: "button", type: "submit"}
            次へ


-#   .lsssks
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#   .actions
-# = render "devise/shared/links"
