.logoheader
  = link_to root_path do
    %img.logoheader__logo{:src => "/assets/logo.png"}

.bb
  .Bform
    .varification
      .varification__title
        購入内容の確認
      .varification__infomation
        %img.buyimage{:src => "assets/pict-reason-01.jpg"}
        .b
          商品説明
      .varification__price
        .a
          支払金額
        .b
          ¥330
      .varification__paymentmethod
        .a
          支払方法
        .card
          (カード情報)
        .b
          %button.change_btn{:name => "button", :type => "submit"}
            変更する
      .varification__address
        .a
          配送先
        .adress
          住所
        .b
          %button.change_btn{:name => "button", :type => "submit"}
            変更する
      .varification__buy_btn
        %button.buy_btn{:name => "button", :type => "submit"}
          購入する


.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "/assets/logo-white.png"}
    %p © FURIMA