.logoheader
  = link_to root_path do
    %img.logoheader__logo{:src => "/assets/logo.png"}

.ee
  .Eform
    .Eform__imageform
      .Eform__imageform--title
        .title
        出品画像
        .require
          必須
      .Eform__imageform--title2
        最大X枚まで投稿できます
      .Eform__dropbox
        .inputarea
          画像ドロップエリア（仮）


    .Eform__itemname
      商品について
      .Eform__itemname--title
        .title
          商品名
        .require
          必須
      .Eform__itemnamebox
        .inputform
          %textarea{:cols => "60", :rows => "1"} ここをクリックして記入してください
    .Eform__description
      .Eform__description--title
        .title
          出品説明
        .require
          必須
      .Eform__descriptionbox
        .inputform
          %textarea{:cols => "60", :rows => "1"} ここをクリックして記入してください

    .Eform__productdetails
      商品の詳細
      .Eform__productdetails--title
        .title
          カテゴリー
        .require
          必須
      .Eform__productdetailsbox
        .pulldown
          .selectwrap
            %select.select{:id => "", :name => ""}
              %option{:value => ""} 001
              %option{:value => ""} 002
              %option{:value => ""} 003


      .Eform__productdetails--title
        .title
          ブランド
      .Eform__productdetailsbox
        .inputform
          %textarea{:cols => "60", :rows => "1"} ここをクリックして記入してください

      .Eform__productdetails--title
        .title
          出品の状態
        .require
          必須
      .Eform__productdetailsbox
        .pulldown
          .selectwrap
            %select.select{:id => "", :name => ""}
              %option{:value => ""} 001
              %option{:value => ""} 002
              %option{:value => ""} 003


    .Eform__delivery
      配送について
      .Eform__delivery--title
        .title
          配送料の負担
        .require
          必須
      .Eform__deliverybox
        .pulldown
          .selectwrap
            %select.select{:id => "", :name => ""}
              %option{:value => ""} 001
              %option{:value => ""} 002
              %option{:value => ""} 003
      .Eform__delivery--title
        .title
          配送元地域
        .require
          必須
      .Eform__deliverybox
        .pulldown
          .selectwrap
            %select.select{:id => "", :name => ""}
              %option{:value => ""} 001
              %option{:value => ""} 002
              %option{:value => ""} 003
      .Eform__delivery--title
        .title
          配送準備日数
        .require
          必須
      .Eform__deliverybox
        .pulldown
          .selectwrap
            %select.select{:id => "", :name => ""}
              %option{:value => ""} 001
              %option{:value => ""} 002
              %option{:value => ""} 003


    .Eform__price
      価格について
      .Eform__price--title
        .title
          価格設定
        .require
          必須
      .Eform__pricebox
        .inputform
          %textarea{:cols => "60", :rows => "1"} ここをクリックして記入してください

.ee
  %button.exhibition_btn{:name => "button", :type => "submit"}
    出品する
  %br
  %button.home_btn{:name => "button", :type => "submit"}
    ホームに戻る

.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "/assets/logo-white.png"}
    %p © FURIMA