.Cheader
  = render 'header'

.main
  %ul.main__adCarousel
    %li.main__adCarousel__first
      .main__adCarousel__first__content
        %h2
          人生を変えるフリマアプリ
        %p
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .main__adCarousel__first__content__link
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "170px"}
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "170px"}

    %li.main__adCarousel__second
      .main__adCarousel__second__content
        %h2
          会員数日本一位
        %p
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .main__adCarousel__second__content__link
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "170px"}
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "170px"}

    %li.main__adCarousel__third
      .main__adCarousel__third__content
        %h2
          だれでもかんたん、人生を変えるフリマアプリ
        %p
          今すぐ無料ダウンロード！
        .main__adCarousel__third__content__link
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "170px"}
          = link_to "#" do
            %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "170px"}

  .main__firstIntro
    %h1.subTitle
      FURIMAが選ばれる3つの理由
    %ul.main__firstIntro__lists
      %li.main__firstIntro__lists__list
        .main__firstIntro__lists__list__pict
          %span.number 1
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/pict-reason-01.jpg"}
        .main__firstIntro__lists__list__text
          %span 3分
          ですぐに出品
        %p スマホで入力するだけで簡単に出品できる!
        
      %li.main__firstIntro__lists__list
        .main__firstIntro__lists__list__pict
          %span.number 2
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/pict-reason-02.jpg"}
        .main__firstIntro__lists__list__text
          %span シンプル
          で使いやすい
        %p めんどくさい入力は必要なく、検索も購入もスムーズ!

      %li.main__firstIntro__lists__list--last
        .main__firstIntro__lists__list__pict
          %span.number 3
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/pict-reason-03.jpg"}
        .main__firstIntro__lists__list__text
          手数料
          %span 業界最安
        %p 最大3%でお得に出品&購入!

  .main__pickup
    %h1 ピックアップカテゴリー
    .main__pickup__title
      %h2
        新規投稿商品
      .main__pickup__title__productLists
        = render @products
    - console
  .main__secondIntro
    %h2.subTitle
      FURIMAの特徴
    .main__secondIntro__lists
      %section.main__secondIntro__lists__list
        .main__secondIntro__lists__list__pict
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/icon-01.png"}
        .main__secondIntro__lists__list__text
          簡単に売り買いできる
          %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    
      %section.main__secondIntro__lists__list
        .main__secondIntro__lists__list__pict
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/icon-03.png"}
        .main__secondIntro__lists__list__text
          売上金は即日振込みに対応
          %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      
      %section.main__secondIntro__lists__list
        .main__secondIntro__lists__list__pict
          %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/icon-04.png"}
        .main__secondIntro__lists__list__text
          様々な支払いに対応
          %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。


  -# .main__recommend
  -#   %h1 あなたへのオススメ
  -#   .main__recommend__title
  -#     .main__recommend__title__productLists
  -#       .main__recommend__title__productLists__productList
  -#         = link_to "/item" do
  -#           %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
  -#       .main__recommend__title__productLists__productList
  -#         = link_to "/item" do
  -#           %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
  -#       .main__recommend__title__productLists__productList
  -#         = link_to "/item" do
  -#           %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
  -#       .main__recommend__title__productLists__productList
  -#         = link_to "/item" do
  -#           %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
  -#       .main__recommend__title__productLists__productList
  -#         = link_to "/item" do
  -#           %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}

.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/logo-white.png"}
    %p © FURIMA

.putupBtn
  .putupBtn__text
    出品する
  - if user_signed_in?  
    = link_to "/products/new" do
      %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/icon_camera.png"}
  - else
    = link_to new_user_session_path do
      %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/icon_camera.png"}

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js", type: "text/javascript"}
:javascript
  $('.main__adCarousel').slick({
    autoplay: true,
    dots: true,
  });