-# .Cheader
-#   = render 'header'

.header
  .header__headerTop
    %h1
      = link_to root_path do
        %img{src: "/public/logo.png", width: "150px"}
    .header__searchPlace
      .header__searchPlace__content
        = form_for root_path do |f|
          = f.text_field :search, class: "header__searchPlace__content__field", placeholder: "キーワードから探す"
      .header__searchPlace__btn
        %img{src: "/assets/icon-search1.png", width: "25px"}
  .header__headerBottom
    .header__headerBottom__left
      %ul
        %li
          = link_to "カテゴリー", "#"
        %li
          = link_to "ブランド", "#"
    .header__headerBottom__right
      %ul
        %li
          = link_to "ログイン", "#"
        %li
          = link_to "新規会員登録", "#"
        %li
          = link_to "カートを見る", "#"
.main
  %ul.main__adCarousel
    %li.main__adCarousel__first
      .main__adCarousel__first__content
        %h2
          人生を変えるフリマアプリ
        %p
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです

    %li.main__adCarousel__second
      .main__adCarousel__second__content
        %h2
          FURIMAは、フリマアプリで最も人気。
        %p
          ほしかったあの商品に出会えるかもしれません。
    %li.main__adCarousel__third
      .main__adCarousel__third__content
        %h2
          だれでもかんたん、人生を変えるフリマアプリ
        %p
          今すぐ無料ダウンロード！

  .main__pickup
    %h1 ピックアップカテゴリー
    .main__pickup__title
      %h2
        新規投稿商品
      .main__pickup__title__productLists
        .main__pickup__title__productLists__productList
          = link_to "/item" do
            %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
        .main__pickup__title__productLists__productList
          = link_to "/item" do
            %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}
        .main__pickup__title__productLists__productList
          = link_to "/item" do
            %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}
    
  .main__recommend
    %h1 あなたへのオススメ
    .main__recommend__title
      .main__recommend__title__productLists
        .main__recommend__title__productLists__productList
        .main__recommend__title__productLists__productList
        .main__recommend__title__productLists__productList
        .main__recommend__title__productLists__productList
        .main__recommend__title__productLists__productList

.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "/assets/logo-white.png"}
    %p © FURIMA

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js", type: "text/javascript"}
:javascript
  $('.main__adCarousel').slick({
    autoplay: true,
    dots: true,
  });