.header
  .header__headerTop
    %h1
      = link_to root_path do
        %img{src: "/assets/logo.png", width: "150px"}
    .header__searchPlace
      .header__searchPlace__content
        = form_for root_path do |f|
          = f.text_field :search, class: "header__searchPlace__content__field", placeholder: "キーワードから探す"
      .header__searchPlace__btn
        %img{src: "/assets/icon-search1.png", width: "25px"}
  .header__headerBottom
    .header__headerBottom__left
      %ul
        %li
          = link_to "カテゴリー", "#"
        %li
          = link_to "ブランド", "#"
    .header__headerBottom__right
      %ul
        %li
          = link_to "ログイン", "#"
        %li
          = link_to "新規会員登録", "#"
        %li
          = link_to "カートを見る", "#"


.mycontent
  .mycontent__left
    .mycontent__left--menu
      -# 適宜aタグ等で変更してください
      %ul.mypage
        -# 出品、購入関連
        %li.list-title マイページ
        %li.list
          %a{href: "#"}　
        %li.list
          %a{href: "#"}
        %li.list
          %a{href: "#"}
        %li.list
          %a{href: "#"}
        %li.list
          %a{href: "#"}
      %ul.config
        -# プロフ、本人確認、クレカ等
        %li.list-title 設定
        %li.list
          %a{href: "#"} プロフィール
        %li.list
          %a{href: "#"} 発送元・お届け先住所変更
        %li.list
          %a{href: "#"} お支払方法
        %li.list
          %a{href: "#"} メール・パスワード
        %li.list
          %a{href: "#"} 本人情報
        %li.list
          %a{href: "#"} 電話番号の確認
        %li.list
          %a{href: "#"} ログアウト

  .mycontent__right
    .mycontent__right--product
      %p.title
        購入した商品
      .transactions
        -# 最終的にはJS組み込むとこですね
        %p.current_transactions 
          取引中
        %p.past_transactions 
          過去の取引
      .product-list
        %p.message
          -# 表示する商品がない場合のものです
          取引中の商品がありません


.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "/assets/logo-white.png"}
    %p © FURIMA