-#.Cheader
-#  = render 'header'

.bbbbb
  .Cform
    .itembox
      .itembox__name
        = @products.name
      .itembox__image
        .mainbox
          %img.mainimage{src: @products.images[0].image.url}
          .subbox
            -if @products.images[1].nil?
            -else
              %img.subimage{src: @products.images[1].image.url}
            -if @products.images[2].nil?
            -else
              %img.subimage{src: @products.images[2].image.url}
            -if @products.images[3].nil?
            -else
              %img.subimage{src: @products.images[3].image.url}
            -if @products.images[4].nil?
            -else
              %img.subimage{src: @products.images[4].image.url}
            -if @products.images[5].nil?
            -else
              %img.subimage{src: @products.images[5].image.url}
      .itembox__price
        ¥
        = @products.price
      .itembox__pricestatus
        (税込)
        /送料パスと連動
      .deliveryfee_status
        = @products.burden.name
      - if user_signed_in?
        - if user_signed_in? && (current_user.id == @products.seller_id)
          - if @products.buyer_id == nil
            %button.buy_btn{name: "button", type: "submit"}
              = link_to "編集", edit_product_path
            %button.buy_btn{name: "button", type: "submit"}
              = link_to 'この商品を削除する', product_path(@products), method: :delete, class: "determine_btn"
          - else
            %button.buy_btn{name: "button", type: "submit"}
              SOLD OUT
        - else
          - if @products.buyer_id == nil
            %button.buy_btn{name: "button", type: "submit"}
              = link_to "購入画面に進む", product_purchase_index_path(@products)

          - else
            %button.buy_btn{name: "button", type: "submit"}
              SOLD OUT
      - else
        - if @products.buyer_id == nil
          %button.buy_btn{name: "button", type: "submit"}
            = link_to "登録してね", new_user_registration_path
        - else
          %button.buy_btn{name: "button", type: "submit"}
            SOLD OUT
          
      .itemdetail 
        = @products.description
    .products_infomation
      .a
        .b
          出品者
        %ul.seller_name
          = @products.seller.nickname
      .a
        .b
          カテゴリー
        %ul.categorypass
          = @products.category.root.name
          = @products.category.parent.name
          = @products.category.name

      .a
        .b
          ブランド
        %ul.brand
          = @products.brand.name
      .a
        .b
          商品の状態
        %ul.item_status
          = @products.condition.name
      .a
        .b
          配送料負担
        %ul.delivery_fee
          = @products.burden.name
      .a
        .b
          配送元地域
        %ul.areaname
          = @products.from_area.name
      .a
        .b
          発送準備日数
        %ul.days
          = @products.delivery_days.name
    .like_or_hate
      .likebtn
        %i.fas.fa-star
        お気に入り 0
      .hatebtn
        %a{href: "#"}
          %i.fas.fa-flag
            不適切な商品の通報
      
    .comment
      %textarea{cols: "60", rows: "10"} ここに記入してください
      .noticemsgarea
        .noticemsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.commentbtn{name: "button", type: "submit"}
        %i.fas.fa-comment
          コメントする
.links
  .nextitem
    %a{href: "#"} < 前の商品
  .otheritem
    %a{href: "#"} 飲料をもっと見る
  .backitem
    %a{href: "#"} 後ろの商品 >



.footer
  .footer__contents
    .footer__contents__content
      %h1.footer__contents__content__title FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    
    .footer__contents__content
      %h1.footer__contents__content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    %img{src: "https://lasttask2020.s3-ap-northeast-1.amazonaws.com/logo-white.png"}
    %p © FURIMA

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js", type: "text/javascript"}
